
{% block title %}create post{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% for img in post.images.all%}
            <img src="{{ img.imag_file.url }}" alt="{{ img.title }}">
            <a href="{% url 'social:delete_img' img.id %}"> حذف تصویر</a>
        {% endfor %}
        <input type="submit">
    </form>

    {% if form.errors %}
        لطفا خطاهای زیرا اصلاح کنید.
        <br>
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.label }} : {{ error }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
{% endblock %}