{% load thumbnail %}
{% load static %}

{% with user=request.user %}
<p>{{user.get_full_name }}</p>
{% if user.photo%}
    <a href={{ user.photo.url }}>
    <img src="{% thumbnail user.photo 200x0 quality=80 %}">
    </a>
{% else %}
    <img src="{% static 'images/download (1).png'%}" style="width: 200px;">
{% endif %}
{% endwith %}
<br>
<h2>پست های سیو شده توسط شما</h2>
<ul>
    {% for post in saved_posts%}
        <a href="{{ post.get_absolute_url }}">
        {{ post.description |truncatewords:20|linebreaks }}
        </a>
        Published at {{ post.created }} by {{ post.author }}
        <br><br><hr>
    {% endfor %}
</ul>